node_modules
dist
build
.vscode/
.turbo/
.manual/
.project/
.prompt/
.cursorignore
bun.lock
package-lock.json
.env
.env.*
*.log

## build
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
bash.exe.stackdump
vite.config.js