node_modules
dist
build
.vscode/
.turbo/
.manual/
.project/
.prompt/
.cursorignore
npmrc
bun.lock
bun.lockb
package-lock.json
.env
.env.*

## build
vite.config.d.ts
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
bash.exe.stackdump
vite.config.js